.titleList {
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: 100px;
  }
  
  .titleList > .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
  }
  
  .titleList .titlesWrapper {
    margin: 20px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-gap: 10px 10px;
  }